
/* colour pallette test */
#colourTestOne {
  /* background-color: #e27d60; */
}
#colourTestTwo {
  /* background-color: #85dcba; */
}
#colourTestThree {
  background-color: #E8A87C;
}
#colourTestFour {
  background-color: #C38D9E;
}
#colourTestFive {
  background-color: #41B3A3;
}

/* Assign variables here */
:root {
--pink: #C38D9E;
--orange: #E8A87C;
--green: #41B3A3;
--headerFontColour: #000001;
--bodyFontColour: #000001;

}

body {
  width: 100%;
  margin: 0px;
}

* {
  box-sizing: border-box;
  /* I think so that contents stay inside the border box */
}

h1, h2, h3 , h4{
  font-family: "crimson Text", serif;
  color: var(--headerFontColour);
}

a:visited {
  color: var(--green);
  }

p { 
  font-family: "work sans", sans-serif;
  color: var(--bodyFontColour);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  margin: 5px 5%;
}
/* NAVIGATION BAR */

nav ul {
  font-family: "work sans", sans-serif;
  list-style-type: none;
  /* Positioning */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

/* BANNER IMAGE */

.bannerContainer {
  /* container created so that I can crop the hero banner image without stretching it to fill the space. */
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.heroBanner {
    height: auto;
    width: 100%;
    overflow: hidden;
    background-position: center;
    object-fit: cover;
}


.profileImg {
  height: auto;
  width: 20%;
}


/* MAIN SECTION */

.pageSection {
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-left: solid 3px var(--orange);
  
}

.pageSection h2 {
  width: 30%;
  height: 100%;
}

/* Projects section */


.projectGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 100px 100px;
  grid-template-areas: 
  "horiseonCodeRefractor horiseonCodeRefractor"
  "preWorkStudyGuide blossomWebsite"
  "projectFour projectFive";
  width: 60%;
  
}

/* Projects grid */
.projectGridArea {
  margin: 5px;
  border: solid var(--pink) 4px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../Images/imgOne.jpg);
  background-position: center;
}

#projectsHeadingArea {
  grid-area: heading;
}

#horiseonCodeRefractor {
  grid-area: horiseonCodeRefractor;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#preWorkStudyGuide {
  grid-area: preWorkStudyGuide;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

#blossomWebsite {
  grid-area: blossomWebsite;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

#projectFour {
  grid-area: projectFour;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;: 
}

#projectFive {
  grid-area: projectFive;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.projectHeading {
  background-color: rgba(0,0,0,0.7);
  border-bottom: 5px solid var(--pink);
  height: 30px;
  color: white;
  font-size: 25px;
}

.projectGridArea p {
  color: white;
}

/* Contacts section */

#contacts ul li {
  font-family: "work sans", sans-serif;
  list-style-type: none;
  display: inline;
}
