
/* Assign variables here */
:root {
--pink: #C38D9E;
--orange: #E8A87C;
--green: #41B3A3;
--headerFontColour: #000001;
--bodyFontColour: #000001;
}


h1, h2, h3 , h4{
  font-family: "crimson Text", serif;
  color: var(--headerFontColour);
}

a:link {
  color: var(--green);
}

a:visited {
  color: var(--green);
  }

  a:hover {
    color: var(--pink);
  }

p { 
  margin-left: 5%;  font-family: "work sans", sans-serif;
  color: var(--bodyFontColour);
}


/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  padding-right: 5%;

}

header h1 {
  padding-left: 20%;
  padding-right: 3%;
  margin-bottom: 1%;
  background-color: var(--orange);

}


/* NAVIGATION BAR */

nav ul {
  font-family: "work sans", sans-serif;
  list-style-type: none;
  /* Positioning */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

/* BANNER IMAGE */

.bannerContainer {
  /* container created so that I can crop the hero banner image without stretching it to fill the space. */
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.heroBanner {
    width: 100%;
    overflow: hidden;
    object-position: center;
}


/* MAIN SECTION */

.pageSection {
  width: 100%;
  margin-top: 30px;
  padding-right: 5%;
  display: flex;  
}

.pageSection h2 {
  width: 30%;
  height: 100%;
  margin-right: 5%;
  text-align: end;
}

.sectionContent {
  width: 100%;
  padding-left: 5%;
  display: flex;
  justify-content: flex-start;
  border-left: solid 3px var(--orange);
}

.profileImg {
  height: auto;
  width: 200px;
}



/* Projects section */

#projectGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 180px 100px 100px;
  grid-template-areas: 
  "horiseonCodeRefractor horiseonCodeRefractor"
  "preWorkStudyGuide blossomWebsite"
  "projectFour projectFive";
  gap: 4%;
  padding-bottom: 3%;
}

/* Projects grid */
.projectGridArea {
  border: solid var(--pink) 3px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../images/pawel-czerwinski-8uZPynIu-rQ-unsplash.jpg);
  background-position: center;
}

#horiseonCodeRefractor {
  grid-area: horiseonCodeRefractor;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#preWorkStudyGuide {
  grid-area: preWorkStudyGuide;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

#blossomWebsite {
  grid-area: blossomWebsite;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}

#projectFour {
  grid-area: projectFour;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;: 
}

#projectFive {
  grid-area: projectFive;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.projectGridArea {
  color: white;
}

.textBox {
  padding-right: 5%;
  padding-left: 2%;
  margin-bottom: 4%;
  width: fit-content;
  background-color: rgba(0,0,0,0.4);
}

.projectGridArea h3 {
  height: 30px;
  color: white;
  font-size: 25px;
}

.projectGridArea p {
  margin: 0px;
  color: white;
}

/* Contacts section */

#contacts {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

#contacts li {
  padding: 0px;
  margin: 0px;
  font-family: "work sans", sans-serif;
  list-style-type: none;
  color: var(--green);
}

/* mobile screens */
@media only screen and (max-width: 320px) {
  nav {
    display: none;
  }

  h2 {
    white-space: nowrap;
    margin: 5%;
  }

  .pageSection {
    display: block;
  }

  .sectionContent {
    display: block;
  }

  #projectGrid {
    display: flex;
    
  }  

  #contacts li {
    display: block;
  }

}

/* small tablets screens */
@media only screen and (max-width: 600px) {
  
  h1 {
    white-space: nowrap;
  }

  nav {
    display: none;
  }
  
  #projectGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 180px;
    grid-template-areas: 
    "horiseonCodeRefractor"
    "horiseonCodeRefracto"
    "preWorkStudyGuide"
    "blossomWebsite"
    "projectFour"
    "projectFive";
    gap: 1%;
    padding-bottom: 6%;
  }

}

/* small desktop screems */
@media only screen and (max-width: 1024px) {

}

/* desktop screens */
@media only screen and (max-width: 1280px) {

}